// Color Variables
$primary-color: #E8505B;
$secondary-color: #9AC4F8;
$text-color: #666666;
$text-color-dark: #222222;
$body-color: #fff;
$border-color: #ACB9C4;
$black: #000;
$white: #fff;
$light: #F8F8F8;

// Font Variables
$primary-font: 'Muli', 'Parisienne', 'dancing-script', 'EduTas', sans-serif;
$icon-font: 'themify';

// External web fonts
@import url(https://fonts.googleapis.com/css2?family=Parisienne&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap);
