<!DOCTYPE html>
<html lang="en-US">
  {% include head.html %}
  <body>
    {% include preloader.html %}
    {% include header.html %}

    {% include sidebar.html %} <!-- 새로운 사이드바를 include -->

    {{ content }}
    {% include footer.html %}

    <!-- JS Plugins -->
    {% for js in site.data.plugins.js %}
      <script src="{{ js | relative_url }}"></script>
    {% endfor %}

    <!-- Main Script -->
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
    
    <!-- Sidebar Script -->
    <script src="{{ '/assets/js/sidebar.js' | relative_url }}"></script>
  </body>
</html>
