---
layout : default
---

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto block shadow mb-5">
        <h2>{{ page.title }}</h2>
        <div class="mb-3 post-meta">
          {% if page.author %}
          <a href="{{ 'author/' | relative_url }}{{ page.author | slugify }}">{{ page.author | capitalize }}</a>{%endif%},
          {{ page.date | date: '%b %d, %Y' }}, 🕰️ {{ page.content | reading_time }} minutes
          {% if page.tags.size >= 1 %}
          <div class="tag-list">
            {% for tag in page.tags %}
            <a href="{{ '/tag/' | relative_url }}{{ tag | slugify }}">#{{ tag | capitalize }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        {% if page.image %}
        <img src="{{ page.image | relative_url }}" class="img-fluid w-100 mb-4" alt="{{ page.title }}">
        {% endif %}
        <div class="content mb-5">
          {{ content }}
        </div>
        <!-- comments -->
        {% if site.disqus_shortname %}
          {% include disqus-comments.html %}
        {% endif %}
        <!-- /comments -->
        <a href="javascript:history.back()" class="btn btn-sm btn-transparent pl-0">Previous</a>
      </div>
    </div>
  </div>
</section>